In [20]:
import pandas as pd
import numpy as np

path = 'E:\\Malaya_Network_Gt\\data\\npy\\1480\\'

In [24]:
test_df = np.load(path + 'test1480features.npy')

test_df = pd.DataFrame(test_df)

Use this cell only to reduce it to certain value (e.g. 740 features)

In [25]:
test_df_red = test_df.iloc[:, list(range(740)) + [-1]]

test_df_red.head()

,0,1,2,3,4,5,6,7,8,9,...,731,732,733,734,735,736,737,738,739,1480
0,69,0,5,220,208,136,0,0,64,6,...,0,0,0,0,0,0,0,0,0,5
1,69,0,0,40,63,78,64,0,128,6,...,0,0,0,0,0,0,0,0,0,8
2,69,0,5,220,25,111,0,0,64,6,...,139,20,194,198,48,85,6,8,43,8
3,69,0,5,220,48,194,0,0,64,6,...,0,0,0,0,0,0,0,0,0,8
4,69,0,5,220,192,42,0,0,64,6,...,56,41,229,4,65,226,72,179,231,3

In [ ]:
with open(path + 'val_df.txt', 'w') as f:
    for index, row in val_df_red.iterrows():
        # Use .iloc for positional indexing
        line = ' '.join(map(str, row.iloc[:-1])) + '\t' + str(row.iloc[-1]) + '\n'
        f.write(line)

print("File saved with custom spacing.")

File saved with custom spacing.

In [26]:
np.save(path + 'test740features.npy', test_df_red.values)